#pagenotfound{
background: url('banner_error_404.jpg')no-repeat center fixed;
  background-size: cover;
}
#Mainpage{
  background: url('verification.jpg')no-repeat center fixed;
  background-size: cover;
}
ul{
  color:#B22222	;
}
